
.super-mario {
    width: 100px;
    margin-top: 50%;
    background-color: blue;
  }
  
  .goomba {
    width: 100px;
  }
  
  .baloon {
  
  }
  
  .speach {
    font-size: 500px;
  }
  
  .bowser {
    width: 200px;
  }