#Header{
    border: solid black;
    padding: 50px;
    font-size: 30px;
    margin-bottom: 5px;
}

#Nav{
    border: solid #e90c0c;
    padding: 25px;
    margin-bottom: 5px;
    width: 80%;
    font-size: 20px;
}

#Main{
    border: solid blue;
    padding: 100px;
    padding-bottom: 500px;
    width: 71%;
}

#Title{
    padding-bottom: 50px;
    margin-top: -90px;
    margin-bottom: 50px;
    margin-left: -45px;
}

#Article{
    border: solid aqua;
    padding: 80px;
    margin-left: -80px;
    margin-right: -80px;
    margin-top: -80px;
    margin-bottom: 5px;
}

#Aside{
    border: solid green;
    float: right;
    padding: 95px;
    padding-top: 237px;
    padding-bottom: 620px;
    margin-top: -934px;
    margin-left: 84%;
}